body{
    margin: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    color: black;
    transition: 0.5s;
}
button{
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;

}
body.dark{
    background: #121212;
    color: white;
}
body.dark.container{
    background: #333;
}
body.dark button{
    background: white;
    color: #121212;
}